[Desktop Entry]
Name=Ship of Harkinian
Comment=Enough! My ship sails in the morning!
Exec=ShipOfHarkinian
Terminal=false
Type=Application
Categories=Game;
